<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Flavor and Upload Content</title>
    <link rel="stylesheet" href="recipes.component.css">

</head>
<body>
    <div>
        <h1>Select Flavor and Upload Content</h1>
        <div class="form">
          <label for="name">Enter Name:</label>
          <input type="text" id="name" name="name" required>
          <br>
          <label for="submittedBy">Submitted By:</label>
          <input type="text" id="submittedBy" name="submittedBy" required>
          <br>
          <label for="difficulty">Difficulty:</label>
          <select id="difficulty" name="difficulty" required>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
          </select>
          <br>
            <!--Content-->
            <label for="content">Enter Content:</label>
          <div class="main-container" id="content">
            <div class="editor-container editor-container_classic-editor" #editorContainerElement>
              <div class="editor-container__editor">
                <div #editorElement>
                  <ckeditor [editor]="Editor" [config]="config" *ngIf="isLayoutReady" [(ngModel)]="editorData" />
                </div>
              </div>
            </div>
          </div>

          <br>
          <label for="rating">Rating:</label>
          <input type="number" id="rating" name="rating" min="1" max="10" required>
          <br>
          <div style="display: flex;justify-content: flex-start; align-items: center">
            <span>Is Post for membership:</span><input type="checkbox" id="membership" name="membership" value="yes">
          </div>

          <button (click)="getEditorData()">Lấy dữ liệu từ CKEditor</button>
          <button type="submit">Submit</button>
        </div>
    </div>
</body>
</html>
